.contianer {
  position: relative;
  width: 100%;
}

.selectInput {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.selectedItem{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: left;
}